/* Añadimos una fuente moderna desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.form-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.col-50, .col-100 {
    padding: 0 15px;
    box-sizing: border-box;
}

.col-50 {
    width: 50%;
}

.col-100 {
    width: 100%;
}

.field-label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

.field-input, .field-input select, .field-input textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccd0d5;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}
#description{
    height: 75%;
}
.field-input[readonly], .fake-label-input {
    background-color: #f7f7f7;
    color: #333;
    border: none;
    border-bottom: 2px solid #ccd0d5;
    pointer-events: none;
}

.fake-label-input {
    font-weight: 600;
}

.field-input:focus, .field-input select:focus, .field-input textarea:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
.col-25 {
    width: 24%;
    padding-left: 5px;
}
.button {
    background-color: #0056b3; /* Cambia a un azul más profesional */
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 14px;
    font-weight: 600;
}

.button:hover {
    background-color: #004494;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 2px solid #ccd0d5;
    border-radius: 4px;
}

/* Diseño para los botones de firma y limpiar */
#clear-applicant {
    background-color: #f44336; /* Un rojo para la eliminación */
    margin-right: 10px;
}

#clear-applicant:hover {
    background-color: #d32f2f;
}
.button-container {
    display: flex;
    justify-content: center; /* Alinea los botones horizontalmente al centro */
    align-items: center; /* Alinea los botones verticalmente al centro */
    gap: 10px; /* Espacio entre los botones */
}
.firma{
    display: none;
}
/* Mover la etiqueta de firma encima del canvas */
#signature-label {
    text-align: center; /* Centra el texto */
    font-weight: bold; /* Hace que el texto sea en negritas */
    margin-bottom: 10px; /* Espacio entre la etiqueta y el canvas */
}
/* Estilos para el contenedor de Select2 para que coincida con tu diseño */
.select2-container .select2-selection--single {
    height: auto; /* Altura automática */
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #ccd0d5; /* Borde como tus otros campos */
    border-radius: 4px; /* Bordes redondeados */
    padding: 6px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    line-height: 1.42857143; /* Altura de línea para que coincida con tus campos */
}

/* Estilos para el texto dentro del Select2 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555; /* Color del texto */
    line-height: 28px; /* Altura de línea para centrar verticalmente el texto */
}

/* Estilos para la flecha desplegable de Select2 */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px; /* Altura para alinear con el tamaño del input */
    position: absolute;
    top: 1px; /* Ajuste fino para alinear la flecha */
    right: 1px; /* Ajuste fino para alinear la flecha */
    width: 20px; /* Ancho de la flecha */
}

/* Estilos para el dropdown de Select2 */
.select2-container--default .select2-dropdown {
    border: 1px solid #ccd0d5; /* Borde como tus otros campos */
    border-radius: 0 0 4px 4px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave como tus otros campos */
}

/* Estilos para los items del dropdown de Select2 */
.select2-container--default .select2-results__option {
    padding: 6px; /* Espaciado interno para los items */
    margin: 0; /* Sin margen externo */
    font-size: 14px; /* Tamaño de fuente */
}
