@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
 font-family: 'Poppins', sans-serif;
     background-image: url('/img/imagen (1).png'); /* Agrega la imagen de fondo */
     background-size: cover; /* Asegura que la imagen cubra todo el fondo */
     background-position: center; /* Centra la imagen en la página */
background-repeat: no-repeat; /* Evita que la imagen se repita */
min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana del navegador */
}

 .detinos {
     display: flex;
     justify-content: space-around;
 }

 .header {
     display: flex;
     text-align: center;
     padding: 20px;
     justify-content: space-evenly;
     align-items: center;
 }

 .header img {
     max-width: 300px;
 }

 .header h1 {
     margin: 10px 0;
     margin-left: -175px;
 }

 .header .button {
     padding: 10px 20px;
     background-color: #4CAF50;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 #formRubros {
     color: white;
background: #233559;
     max-width: 600px;
     margin: 104px auto;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 8px 7px 10px rgba(0, 0, 0, 0.1);
 }

 .form-group {
     margin-bottom: 15px;
     display: grid;
     align-items: start;
     justify-items: center;
     justify-content: center;
 }

 .form-group label {
     display: block;
     margin-bottom: 5px;
 }

 .form-group select,
 .form-group input {
     width: 100%;
     padding: 8px;
     border: 1px solid #cfcfcf;
     box-sizing: border-box;
     border-radius: 10px;
 }

 .saldo-info {
     margin-top: 15px;
     display: flex;
     justify-content: space-between;
     margin-bottom: 35px;
 }

 .saldo-info p {
     color: black;
     display: grid;
     text-align: center;
     margin: 0;
     width: 36%;
     margin-top: 15px;
     margin-left: 34px;
     margin-right: 34px;
     padding: 10px;
     box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
     border-radius: 5px;
     background-color: #ffffff;
 }

 #rubroOrigen,
 #rubroDestino {
     width: 230px;
 }

 button[type="submit"] {
     width: 100%;
     padding: 10px;
     background-color: #4CAF50;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 .botones {
     display: flex;
     justify-content: center;
 }

 .btn-enviar {
     width: 115px;
 }